albumentations==1.1.0
easydict==1.9
einops==0.4.0
helpers==0.2.0
layers==0.1.5
matplotlib==3.3.2
numpy==1.22.0
pandas==1.1.3
Pillow==9.0.1
pytorch_lightning==1.5.7
pytorch_pretrained_vit==0.0.7
scikit_learn==1.0.1
seaborn==0.11.0
simple_parsing==0.0.18
skimage==0.0
timm==0.5.4
torch==1.10.1
torchvision==0.11.2
vit_pytorch==0.26.4
